.title {
  text-align: center;
}

/* vp + header */

header {
  flex-direction: column;
}
header ul {
  margin-top: 2rem;
  flex-direction: column;
  text-align: center;
}
header ul li {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.vp-content h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.vp-content p {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}

/*offer*/
.offer {
  padding: 5rem 1rem 5rem 1rem;
  text-align: center;
}

.offer-list {
  flex-direction: column;
}

/*who*/

.who {
  flex-direction: column-reverse;
}

.who-content-img {
  min-height: 300px;
}

.who-content-text {
  padding: 3rem 2rem;
}

/* testimonialos */

.testimonials-elem {
  flex-direction: column;
}
.testimonials-elem-reverse {
  flex-direction: column-reverse;
}

.testimonials-elem-profil p {
  text-align: center;
}

.testimonials-elem-profil img {
  display: block;
  margin: 2rem auto;
}

.contact {
  padding: 2.5rem 1rem 2.5rem 1rem;
}

.contact-form-button {
  margin: 3rem auto 3rem auto;
}
